.card-container {
  width: 327px;
  height: 172px;
  //
  border-radius: 4px;
}

/*.card-content {
}*/

.img-card {
  width: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.78%, #000000 122.69%);
}
