@mixin btn-header {
  height: 56px;
  width: 248px;
  border: none;
  color: $white;
  letter-spacing: 4px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}

header.container {
  width: 100%;
  height: 95vh;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.header-content {
  z-index: 2;
  // width: 65%;
  //height: 95vh;
  height: 92vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  //margin-top: 12rem;
  background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
}
.img_fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //height: 100%;
  height: 89vh;
  object-fit: cover;
  z-index: -2;
}
.title-header {
  color: $white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4px;
  .bold-text {
    font-weight: bold;
  }
}

.title-movie {
  font-size: 2em;
  letter-spacing: 12px;
  color: $aqua;
  font-weight: bold;
}

.movie_content {
  display: flex;
  flex-direction: column;
}
.container-btn-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  .btn-play {
    background-color: $grey;
    @include btn-header;
    transition: transform 0.3s, opacity 0.3s, background 0.4s;
    &:hover {
      background: $btn-gradient;
      transform: scale(1.02);
    }
  }
  .btn-list {
    @include btn-header;
    background: rgba(36, 36, 36, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    transition: transform 0.3s, opacity 0.3s, background 0.4s;
    &:hover {
      background: $btn-gradient;
      transform: scale(1.02);
    }
  }
}
//desktop
@media only screen and (min-width: 670px) {
  .title-movie {
    text-align: left;
  }
  .movie_content {
    padding: 35px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .container-btn-header .btn-list {
    margin-top: 0;
    margin-left: 22px;
  }
  .container-btn-header {
    flex-direction: row;
    margin-top: 50px;
  }
}
//desktop
@media only screen and (min-width: 1000px) {
  .title-movie {
    width: 70%;
    font-size: 4em;
  }

  .header-content {
    height: 98vh;
  }
  .img_fullscreen {
    height: 100vh;
  }
}
