@import 'fonts';
@import 'colors';

@import './navbar/navbar';
@import './header/header';
@import './card/card';
@import './link';
@import './dropdown/dropdown';
@import './addMovie/addMovie';

* {
  font-family: $font-bebas;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: $grey;
}
