.container-dropzone {
  display: flex;
  width: 327px;
  height: 81px;
  left: 24px;
  top: 242px;
  border: 1px dashed #ffffff;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.drop-input {
  height: 100%;
}
